*{
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    background-color: #FFFCF4;
}

body{
    font-size: 1.6rem;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Header */
.header{
    background-color: #FFFCF4;
}

/* Navbar */
.navbar{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar_title{
    margin-right: 50rem;
    font-weight: 900;
    font-size: 2.4rem;
}

.navbar_footer{
    margin-left: 5rem;
    width: 15rem;
    height: 5rem;
    background-color: black;
    font-size: 2rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3rem;
    cursor: pointer;
}

.navbar_footer:hover{
    color: black;
    background-color: #FFFFFF;
}

.navbar_bar{
    display: flex;
    gap: 2.9rem;
    font-size: 2rem;
}

.item1{
    text-shadow: 0 0 0.1rem black;
    text-decoration: underline;
}

.item:hover{
    text-shadow: 0 0 0.1rem black;
    cursor: pointer;
}

.header_content{
    margin-top: 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_side_left{
    display: flex; 
    position: relative;
}

.header_side_left_container{
    width: 26rem;
    height: 26rem;
    background-color: #FFFFFF;
    position: absolute;
    bottom: 5rem;
    right: -10rem;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    padding-right: 2rem;
    box-sizing: border-box;
}

.item_header{
    width: 5rem;
    height: 5rem;
    border-radius: 5rem;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
}

.header_side_left_container_item{
    display: flex;
    align-items: center;
    gap: 2rem;
}

.ih1{
    background-color: #fcf1d1;
}

.ih2{
    background-color: #FCEFFF;
}

.ih3{
    background-color: #EBEAFF;
}