@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400..800&display=swap');

*{
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    background-color: #FFFCF4;
}

body{
    font-size: 1.6rem;
    font-family: "Poppins", serif;

}

.container_header{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10em;
}

/* Header */
.header{
    background-color: #FFFCF4;
    width: 85em;
}

/* Navbar */
.navbar{
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar_title{
    margin-right: 60rem;
    font-weight: 600;
    font-size: 2.4rem;
}

.navbar_footer{
    margin-left: 5rem;
    width: 15rem;
    height: 5rem;
    background-color: black;
    font-weight: 500;
    font-size: 2rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3rem;
    cursor: pointer;
}

.navbar_footer:hover{
    color: black;
    background-color: #FFFFFF;
}

.navbar_bar{
    display: flex;
    gap: 2.9rem;
    font-size: 2rem;
}

.item1{
    text-shadow: 0 0 0.1rem black;
    text-decoration: underline;
}

.item:hover{
    text-shadow: 0 0 0.1rem black;
    cursor: pointer;
}

.header_content{
    margin-top: 10rem;
    display: flex;
    /* align-items: center; */
    box-sizing: border-box;
}

.header_side_left{
    display: flex; 
    position: relative;
    margin-right: 20rem;
}

.header_side_left_container{
    width: 26rem;
    height: 26rem;
    background-color: #FFFFFF;
    position: absolute;
    bottom: 5rem;
    right: -10rem;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    padding-right: 2rem;
    box-sizing: border-box;
}

.item_header{
    width: 5rem;
    height: 5rem;
    border-radius: 5rem;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
}

.header_side_left_container_item{
    display: flex;
    align-items: center;
    gap: 2rem;
}

.ih1{
    background-color: #fcf1d1;
}

.ih2{
    background-color: #FCEFFF;
}

.ih3{
    background-color: #EBEAFF;
}

/* header_side_right */

.header_side_right{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.header_side_right_title{
    margin-top: 3rem;
    font-size: 6rem;
    font-weight: 600;
}

.header_side_right_content{
    font-size: 2.2rem;
    font-weight: 100;
}

.header_side_right_passage{
    line-height: 3rem;
    font-weight: 200;
}

.header_side_right_buttons{
    margin-top: 3rem;
    display: flex;
    align-items: center;
    gap: 4rem;
}

.header_side_right_button_left{
    width: 18rem;
    height: 7rem;
    font-size: 1.8rem;
    background-color: #FFB900;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5rem;
    color: white;
    font-weight: 600;
}

.header_side_right_button_right{
    display: flex;
    align-items: center;
    gap: 2rem;
}

.header_side_right_button_right_play{
    width: 4rem;
    height: 4rem;
    background-color: rgb(255, 255, 255);
    color: #FFB900;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4rem;
    box-shadow: 0.05rem 0.05rem 1rem rgb(202, 195, 195);
    font-size: 1.3rem;
}

.header_side_right_button_right_title{
    font-size: 2.2rem;
    font-weight: 700;
}

.header_side_right_content2{
    margin-top: 2rem;
    font-size: 2.5rem;
}

.header_side_right_numbers{
    display: flex;
    align-items: center;
    gap: 3rem;
}

.number.header_side_right_number{
    font-size: 4rem;
    font-weight: 700;
}

.title.header_side_right_number{
    font-size: 2.5rem;
}

.container_main_content_one{
    background-color: white;
    display: flex;
    justify-content: center;
    padding-bottom: 15em;
}

.content_one{
    margin-top: 15em;
    width: 85em;
}

.content_element_one_title{
    font-size: 2.8em;
    font-weight: 600;
}

.content_element_one_title_content{
    margin-top: 1.6rem;
    font-size: 2.2rem;
    display: flex;
    justify-content: space-between;
}

.content_element_one_title_content_fullside{
    display: flex;
    justify-content: space-between;
}

.list_arrow{
    display: flex;
    gap: 0.5em;
}

.arrow_items{
    width: 2em;
    height: 2em;
    border-radius: 2em;
    border: 0.1rem solid #FFB900;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow_items:hover{
    background-color: #FFB900;
}

.arrow_item{
    width: 1rem;
    height: 1rem;
    border-top: 0.2rem solid #FFB900;
    border-left: 0.2rem solid #FFB900;
    transform: rotate(45deg);
}

.arrow_items:hover .arrow_item{
    border-top: 0.2rem solid white;
    border-left: 0.2rem solid white;
}

.left{
    transform: rotate(315deg);
}

.right{
    transform: rotate(135deg);
}

.content_one_cards{
    margin-top: 5.5em;
    display: flex;
    justify-content: space-between;
}

.content_one_card{
    display: flex;
    flex-direction: column;
    gap:0em;
}

.content_one_img_card{
    width: 26em;
    border-radius: 1em 1em 0em 0em;
}


.content_one_card_title{
    display: flex;
    justify-content: space-between;
    padding: 0em 1.3em;
    padding-top: 2em;
}

.content_one_card_title_name{
    font-size: 1.2em;
    font-weight: 600;
}

.content_one_card_title_star{
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.content_one_card_title_star_name{
    color: #F8CA00;
}

.star {
    width: 1.5em;  
    aspect-ratio: 1;
    background: #F8CA00;
    clip-path: polygon(50% 0,
      calc(50%*(1 + sin(.4turn))) calc(50%*(1 - cos(.4turn))),
      calc(50%*(1 - sin(.2turn))) calc(50%*(1 - cos(.2turn))),
      calc(50%*(1 + sin(.2turn))) calc(50%*(1 - cos(.2turn))),
      calc(50%*(1 - sin(.4turn))) calc(50%*(1 - cos(.4turn))) 
     ); 
    /* or more simple
    clip-path: polygon(50% 0,79% 90%,2% 35%,98% 35%,21% 90%); 
     */
}

.content_one_card_main_content{
    margin-top: 1em;
    padding: 0em 1.3em;
}

.content_one_card_container_price{
    margin-top: 1em;
    padding: 0em 1.3em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price{
    font-size: 1.2em;
    font-weight: 600;
}

.accept_course{
    width: 8em;
    height: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    border-radius: 3em;
    font-weight: 600;
}

.accept_course:hover{
    background-color: #F8CA00;
}

.container_content_card{
    border: 0.02em solid rgb(230, 222, 222);
    border-top: #FFFFFF;
    padding-bottom: 1.5em;
    border-radius: 0em 0em 1em 1em;
    transition: box-shadow 0.3s ease, border-color 0.3s ease;
}

.content_one_card:hover .content_one_img_card,.content_one_card:hover .container_content_card{
    box-shadow: 0em 0em 0.5em rgb(236, 219, 219);
    border: #FFFFFF;
}

.container_main_content_two{
    background-color: #2E2100;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content_two{
    margin-top: 5em;
    width: 85em;
    display: flex;
    gap: 15em;
    padding-bottom: 5em;
}

.img_content_two{
    width: 6em;
    height: 6em;
    clip-path: circle(40%);
}

.content_two_left_name_img{
    margin-top: 2rem;
    font-size: 1.5em;
    color: #FFFFFF;
    font-weight: 600;
}

.content_two_left_profession{
    margin-top: 1em;
    color: #bcb9b9;
}

.list_dots{
    display: flex;
    gap:0.5em;
}

.dot_item{
    margin-top: 2em;
    width: 0.4em;
    height: 0.4em;
    background-color: #4e3a0a;
    clip-path: circle(50%);
}

.dot1{
    background-color: #FFB900;
}

.content_two_side_right{
    display: flex;
    flex-direction: column; 
}

.content_two_side_right_content{
    margin-top: 3em;
}

.content_two_side_right_content_passage{
    font-size: 1.8em;
    font-style: italic;
    color: #FFFFFF;
    line-height: 2em;
}

.container_main_content_three{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    background-color: #FFFFFF;
    flex-direction: column;
}

.content_three{
    margin-top: 15em;
    width: 85em;
    display: flex;
    gap: 10em;
}

.content_three_side_left{
    display: flex;
    gap: 2em;
    position: relative;
}

.content_three_img{
    width: 20em;
    height: 30em;
    border-radius: 1em;
}

.learn2{
    position: relative;
    bottom: 2em;
}

.content_three_side_right{
    display: flex;
    flex-direction: column;
    gap: 1.8em;
}

.three_side_right_title{
    line-height: 1.5em;
    font-size: 2.5em;
    font-weight: 600;
}

.three_side_right_content{
    font-size: 1.1em;
    color: rgb(86, 84, 84);
    line-height: 1.7em;
}

.three_side_right_content_two{
    font-size: 1.1em;
    color: rgb(100, 99, 99);
    line-height: 1.7em;
}

.three_side_right_button{
    width: 7.5em;
    height: 3.5em;
    background-color: #FFB900;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2em;
    font-size: 1.2em;
    font-weight: 600;
}

